%header
  = render partial: "/layouts/header"
.main
  = render partial: "/layouts/navbar"
  .ikezaki-list
    %h2
      %h3 #{current_user.nickname}さんのサンシャイン一覧
      - @ikezakis.each do |ikezaki|
        %a{:href => "/ikezakis/#{ikezaki.id}"}
          %p サンシャイン#{ikezaki.name}
          

