%header
  = render partial: "/layouts/header"
.main
  = render partial: "/layouts/navbar"
  .create-sunshine
    %h2
      %a{:href => "/ikezakis/new"} 新しくサンシャインを作成する
    -# %h2
    -#   %h3 サンシャイン一覧
    -#   - @ikezakis.each do |ikezaki|
    -#     %a{:href => "/ikezakis/#{ikezaki.id}"}
    -#       %p
    -#         サンシャイン#{ikezaki.name}
%footer
  = render partial: "/layouts/footer"
