%header
  = render partial: "/layouts/header"
.main
  = render partial: "/layouts/navbar"
  .ikezaki-list
    %h2
      %h3 サンシャイン一覧
      - @ikezakis.each do |ikezaki|
        %a{:href => "/ikezakis/#{ikezaki.id}"}
          %p
            サンシャイン#{ikezaki.name}
          .delete-btn
            - if user_signed_in? && current_user.id == ikezaki.user_id
              = link_to '削除', ikezaki_path(id: ikezaki.id), method: :delete
