.list-wrapper
  = render partial: "/layouts/header"
  .list-contents
    %h1 サンシャイン一覧
    - @ikezakis.each do |ikezaki|
      .card
        .card-header
          サンシャイン#{ikezaki.name}
        .card-body
          %p.card-text #{ikezaki.user}さんのサンシャイン
          %a.btn.btn-primary{:href => "/ikezakis/#{ikezaki.id}"} 詳細をジャスティス
          -# - if user_signed_in? && current_user.id == ikezaki.user_id
          = link_to '削除', ikezaki_path(id: ikezaki.id), method: :delete, class: "btn btn-primary bg-danger"