<style>
.ikezaki{
  background-image:url("../ikezaki.jpg");
  height:100%;
  width:100%;
}
.neta{
  height:100%;
  background: rgba(255,255,255,0.5);
}
</style>

<div class="ikezaki">
<div class="neta">
<h2>
「イエーーーーーーーーーーーーイ！！！！！
どーもー。
空前絶後の、超絶怒涛の<%= @ikezaki.occupation %>。
<%= @ikezaki.love %>を愛し、<%= @ikezaki.love %>に愛された男。


<%= @ikezaki.birth1 %>、<%= @ikezaki.birth2 %>、<%= @ikezaki.birth3 %>、すべての生みの親。
そう、この俺こそは。

たとえこの身が朽ち果てようと。<%= @ikezaki.love %>を求めて、命を燃やし。燃えた炎は星となり、見るものすべてを笑顔に変える。
みんなご存じ。
そう、この俺こそは。
天下無双の<%= @ikezaki.occupation %>。日本一の<%= @ikezaki.occupation %>を決める大会「<%= @ikezaki.grand_prix %>-1グランプリ」。セミファイナリスト。
そう、この俺は。
身長、<%= @ikezaki.height %>センチ。体重、<%= @ikezaki.weight %>キロ。長所、明るいところ。短所、コミュニケーション能力の欠如。<%= @ikezaki.occupation %>界に舞い降りたキングオブ人見知り。



そう、この俺は。
家族構成。父、ガイヤ池崎。母、ポセイドン池崎。兄、トモカズ。
そう、そしてみんなお待ちかね、次男で末っ子。この俺は。
サンシャイン、い・け………袋の近くで、普段アルバイトをしてます。

時給、<%= @ikezaki.salary %>円。貯金残高、<%= @ikezaki.balance %>円。キャッシュカードの暗証番号、<%= @ikezaki.password %>。画面の前のあなた、いまがチャンスです。
もう一度言います。<%= @ikezaki.password %>。<%= @ikezaki.tip %>って覚えてください。
そう、すべてをさらけだし出したこの俺は、サンシャイン………、<%= @ikezaki.name %>、イェーーーイ。

どうも、ありがとうございました。」</h2>
</div>
</div>
<a href="/">top</a>